@import url('https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap');

.App {
  text-align: center;
}

#logo-font {
  font-family: 'Grand Hotel', cursive;
  font-size: 75px;
  text-align:left;
  margin-top: 0px;
}

#nav-bar {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
}

body {
  background-color: #FFDEE9; /* For browsers that do not support gradients */
  font-family: 'Lato', sans-serif;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 100px;
  margin-top:  20px;
  margin-left: 0px;
  margin-right: 0px;
}

.like-button {
  cursor: pointer;
  color: red;
}


.dog-park-card > li {
  list-style-type: none;
  justify-content: center;
}


.dog-park-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.dog-park-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 1em;
  padding: 20px;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.dog-park-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 1em;
}

.dog-park-card .title {
  font-size: 1.25em;
  font-family: var(--font-family);
  color:  rgb(80, 80, 80);
  cursor: pointer;
  text-decoration: underline;
}