@import url('https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap');

* {
  margin: 0;
}

a:hover{
  color:hsl(231, 49%, 58%);
}


.app-header {
  background-color: white;
  padding: 20px;
  border-bottom:  1px solid lightgrey;
  text-align: right;
  margin: 0;
}

.app-signup {
  display: flex;
  flex-direction: column;
}

 #navItem {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

#logInButton {
  background-color: rgb(115, 57, 129);
  color:white;
  border-radius: 5px;
  margin: 10px;
}

#logInButton:hover {
  background-color: rgba(95, 95, 95, 0.67);
}

#signUpButton {
  background-color: rgb(115, 57, 129);
  color:white;
  border-radius: 5px;
}

#signUpButton:hover {
  background-color: rgba(95, 95, 95, 0.67);
}

#form-header {
  font-family: 'Grand Hotel', cursive;
  font-size: 40px;
  text-align: center;
}

#logo-font {
  color: black;
  font-family: 'Grand Hotel', cursive;
  font-size: 75px;
  text-align:left;
  margin-top: 0px;
}

.MuiButtonBase-root {
  background-color:  rgb(171, 141, 199);
}


body {
  background-color: #fafafa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(77, 77, 77);
  text-align: center;
  margin-bottom: 100px;
  margin-top:  20px;
  margin-left: 0px;
  margin-right: 0px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.post-card {
  background-color: white;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 1em;
  padding: 20px;
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px 10px
}

.post-avatar {
  margin-right: 10px;
}

.post-image {
  width: 100%;
  object-fit: contain;
  max-width: 600px;
  max-height: 500px;
}

.post-text {
  font-weight: normal;
  padding: 20px 10px
}

.post-form {
  align-items: center;
  margin: 25px;
  
}

.profile-avatar {
  align-items: center;
  justify-content: center;
}

.like-button {
  cursor: pointer;
  color: red;
}


.dog-park-card > li {
  list-style-type: none;
  justify-content: center;
}


.dog-park-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.dog-park-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 1em;
  padding: 20px;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.dog-park-card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 1em;
}

.dog-park-card .title {
  font-size: 1.25em;
  font-family: var(--font-family);
  color:  rgb(80, 80, 80);
  cursor: pointer;
  text-decoration: underline;
}

.nav-bar {
  background-color: rgb(163, 131, 151);
  padding: 15px;
  border-radius: 7px;

}
